<div class="content">
<%= form_for(:booking, url: bookings_path) do |f| %>
  <div class="form-group">
    <h1>Vous souhaitez reserver ce vol:</h1>

    
  </div>
  <button type="submit" class="btn btn-primary" name="create">Confirm</button>
</div>
<% end %>
</div>